
.form {
    h2 {
        margin-bottom: 15px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #333333;
        line-height: 1.5;
        span {
                font-size: 24px;
                text-transform: uppercase;
        }
    }
    .error {
        border: 2px solid red;
    }
}

