.guarantees {
    padding: 60px 0 10px;
    background-color: #0089cd;
    padding-left: 150px;
    padding-right: 150px;
    &_header {
        h2 {
            color: #ffffff;
        }
        &_sub {
            background: url(../../assets/img/guarantees/header_sub.png) 0 0 no-repeat;
        }
    }
    h3 {
        margin-top: 30px;
        margin-bottom: 80px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        color: #ffffff;
    }
    img {
        min-height: 70px;
    }
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 210px);
        justify-content: space-between;
        align-content: center;
        row-gap: 20px;
    }
    &_block {
        padding-top: 25px;
        text-align: center;
        &:hover {
            -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }
}