.form {
    /*margin-top: 20px;*/
    padding: 20px 50px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        color: #333333;
        line-height: 1.5;
        span {
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    input {
        width: 260px;
        height: 58px;
        padding: 0;
        margin-top: 15px;
        margin-bottom: 0;
        padding: 5px 15px;
        background: #fff;
        border: 1px solid #e2e2e2;
        color: #353535;
        border-radius: 10px;
        font-size: 22px;
        &:focus {
            outline: 1px solid #f57507;
        }
    }
    .error {
        display: flex;
        color: #e53e3e;
        margin-top: 8px;
        font-size: 13px;
        justify-content: start;
    }
    &_input {
        width: 260px;
        height: 58px;
        padding: 0;
        margin-top: 20px;
        text-align: center;
        border-radius: 10px;
        -moz-box-sizing: border-box;
        border: 1px solid grey;
        &:focus {
            outline: 1px solid #f57507;
        }
        &::-webkit-input-placeholder {
            color: #999;
            opacity: 1;
            font-size: 15px;
        }
        &::-moz-placeholder {
            color: #999;
            opacity: 1;
            font-size: 15px;
        }
        &:-ms-input-placeholder {
            color: #999;
            opacity: 1;
            font-size: 15px;
        }
       

    }
    &_notice {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 11px;
        color: #666;
    }
}
