.form {
    /*margin-top: 20px;*/
    padding: 20px 50px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    h2 {
        margin-bottom: 30px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #333333;
        line-height: 1.5;
        span {
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    &_input {
        width: 260px;
        height: 58px;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 10px;
        -moz-box-sizing: border-box;
        border: 1px solid grey;
        &::-webkit-input-placeholder {
            color: #999;
            opacity: 1;
            font-size: 15px;
        }
        &::-moz-placeholder {
            color: #999;
            opacity: 1;
            font-size: 15px;
        }
        &:-ms-input-placeholder {
            color: #999;
            opacity: 1;
            font-size: 15px;
        }
        &:focus::-webkit-input-placeholder  {
            color: transparent;
        }
        &:focus::-moz-placeholder {
            color: transparent;
        }
        &:focus:-moz-placeholder {
            color: transparent;
        }
        &:focus:-ms-input-placeholder {
            color: transparent;
        }

    }
    &_notice {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 11px;
        color: #666;
    }
}
