

.popup_calc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	&_close {
		:hover {
			cursor: pointer;
		}
	}
	&_content {
		display: grid;
		grid-template-columns: 420px;
		grid-template-rows: repeat(6, auto);
		justify-content: center;
		border-radius: 10px;
		position: fixed;
		top: 10%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 440px;
		padding: 10px 5px 40px;
		background-color: #ffffff;
		h2 {
			display: grid;
			text-align: center;
			grid-row: 1/2;
			margin-bottom: 30px;
			font-size: 30px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-style: normal;
			color: #333333;
		}
		h3 {
			text-align: center;
			grid-row: 2/3;
			font-size: 20px;
  			margin-bottom: 30px;
		}
		.balcon_icons {
			// display: grid;
			grid-row: 3/4;
			// grid-template-columns: repeat(4, auto);
			margin-bottom: 10px;
			&_img {
				padding-top: 10px;
				padding-right: 5px;
				padding-left: 5px;

				:hover {
					cursor: pointer;
					transition: transform 0.3s ease;
					transform: scale(1.1);
				}
			}
			.do_image_more {
				transition: transform 0.3s ease;
					img {
						width: 110px;
    					height: 70px;
					}
				}
		}
		
		.big_img {
			display: grid;
			justify-content: center;
			grid-row: 4/5;
			img {
				margin-bottom: 30px;
				width: 300px;
			}
		}
		.form-control {
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin-left: auto;
			margin-right: auto;
			width: 250px;
			height: 35px;
			grid-row: 3/4;
			text-align: center;
		}
		&_form {
			grid-row: 5/6;
			display: grid;
			justify-content: center;
			text-align: center;
			&_formControlWidth {
				grid-column: 2/3;
			}
			&_multiplication {
				display: inline-block;
				font-size: 20px;
				color: #323131;
				margin: 0 10px;
			}
			&_formControlHeight {
				grid-column: 4/5;
			}
			label {
				color: #999;
				font-size: 15px;
			}
			input {
				padding-left: 10px;
				display: inline-block;
				margin-bottom: 0;
				width: 100px;
				height: 34px;
				margin-right: 3px;
				background: #fff;
				border: 1px solid #e2e2e2;
				color: #353535;
				border-radius: 10px;
				&:focus {
					outline: 1px solid #f57507;
				}
			}
		}
		&_button {
			display: grid;
			justify-content: center;
			grid-row: 6/7;
			text-align: center;
			
		}
		&_cold {
			display: grid;
			justify-content: center;
			grid-template-rows: repeat(2, auto);
			img {
				display: grid;
			}
			.checkbox {
				width: 15px;
				height: 15px;
			}
			.label {
				font-size: 15px;
				padding-left: 10px;
			}	
		}
		&_warm {
			padding: 25px 0;
			display: grid;
			grid-template-rows: repeat(2, auto);
			justify-content: center;
			img {
				display: grid;
			}
			.checkbox {
				width: 15px;
				height: 15px;
			}
			.label {
				font-size: 15px;
				padding-left: 10px;
			}	
		}
	}
	&_close {
		position: absolute;
		top: -20.2px;
		right: -50px;
		font-size: 40px;
		color: #ffffff;
		border: none;
		background: transparent;
	}
	&_forma {
		display: grid;
		justify-content: center;
		text-align: center;
		p {
			padding-top: 10px;
		}
	}
	&_notice {
		margin: 0;
		padding-bottom: 10px;
		font-size: 15px;
	}
	.form-control {
		width: 315px;
		padding: 20px 30px;
    	margin-bottom: 10px;
		height: 58px;
		text-align: center;
		border-radius: 10px;
	}
	.prevButton {
		margin: 0 auto;		
		margin-top: 10px;
		width: 100px;
		font-size: 17px;
		font-weight: 700;
		border: 1px solid gray;
		border-radius: 10px;
		&:hover {
			cursor: pointer;
		}
	}
	.error {
        display: flex;
        color: #e53e3e;
        margin-top: 8px;
        font-size: 13px;
        justify-content: start;
    }
}
