

.popup_calc {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.5);
	&_content {
		display: grid;
		grid-template-columns: 420px;
		grid-template-rows: repeat(6, auto);
		
		position: fixed;
		top: 2%;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 440px;
		padding: 10px 5px 40px;
		background-color: #ffffff;
		h2 {
			display: grid;
			text-align: center;
			grid-row: 1/2;
			margin-bottom: 30px;
			font-size: 30px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			font-style: normal;
			color: #333333;
		}
		h3 {
			text-align: center;
			grid-row: 2/3;
			font-size: 20px;
  			margin-bottom: 30px;
		}
		.balcon_icons {
			justify-content: space-between;
			grid-row: 3/4;
			display: grid;
			grid-template-columns: repeat(4, auto);
			margin-bottom: 10px;
			&_img {
				padding-top: 10px;
				margin-right: 0;
				:hover {
					cursor: pointer;
				}
				
			}
			.do_image_more {
					img {
						width: 110px;
    					height: 70px;
					}
				}
		}
		
		.big_img {
			display: grid;
			justify-content: center;
			grid-row: 4/5;
			img {
				// display: none;
				margin-bottom: 30px;
				width: 300px;
			}
		}
		.form-control {
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
			margin-left: auto;
			margin-right: auto;
			width: 250px;
			height: 35px;
			grid-row: 3/4;
			text-align: center;
		}
		&_form {
			grid-row: 5/6;
			display: grid;
			justify-content: space-evenly;
			text-align: center;
			&_formControlWidth {
				grid-column: 2/3;
				input {
					padding-left: 10px;
					display: inline-block;
					margin-bottom: 30px;
					width: 100px;
					height: 34px;
					margin-right: 3px;
				}
			}
			&_multiplication {
				display: inline-block;
				font-size: 20px;
				color: #323131;
				margin: 0 10px;
			}
			&_formControlHeight {
				grid-column: 4/5;
				input {
					padding-left: 10px;
					display: inline-block;
					margin-bottom: 30px;
					width: 100px;
					height: 34px;
					margin-right: 3px;
				}
			}
			label {
				color: #999;
			}
		}
		&_button {
			display: grid;
			justify-content: center;
			grid-row: 6/7;
			
			
		}
		&_cold {
			display: grid;
			justify-content: center;
			grid-template-rows: repeat(2, auto);
			.checkbox {
				width: 15px;
				height: 15px;
			}
			.label {
				font-size: 15px;
				padding-left: 10px;
			}	
		}
		&_warm {
			padding: 25px 0;
			display: grid;
			justify-content: center;
			grid-template-rows: repeat(2, auto);
			.checkbox {
				width: 15px;
				height: 15px;
			}
			.label {
				font-size: 15px;
				padding-left: 10px;
			}	
		}
	}
	&_close {
		position: absolute;
		top: -20.2px;
		right: -50px;
		font-size: 40px;
		color: #ffffff;
		border: none;
		background: transparent;
	}
	.form-control {
		width: 315px;
		padding: 20px 30px;
    	margin-bottom: 20px;
		height: 58px;
		text-align: center;
		border-radius: 10px;
	}
	.form_notice {
		margin: 0;
		padding-bottom: 10px;
		font-size: 15px;
	}
}

