
.feedback {
  padding: 6rem 0;
  background-color: #0089cd;
  &_block {
    text-align: center;
    h3 {
        display: inline-block;
        margin-right: 4rem;
        font-size: 3rem;
        color: #ffffff;
    }
    a {
        font-size: 3rem;
        font-weight: 600;
        color: #ffffff;
        text-decoration: underline;
    }
  }
}