
.feedback {
	padding: 60px 0;
	background-color: #0089cd;
	&_block {
		text-align: center;
		h3 {
				display: inline-block;
				margin-right: 40px;
				font-size: 30px;
				color: #ffffff;
		}
		a {
				font-size: 30px;
				font-weight: 600;
				color: #ffffff;
				text-decoration: underline;
		}
	}
}