.contacts {
    padding: 60px 0;
    padding-left: 150px;
    padding-right: 150px;
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 40px;
        align-content: center;
    }
    &_info {
        h3 {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 600;
            color: #0089cd;
        }
        p {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 600;
        }
        a {
            display: block;
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            text-decoration: underline;
        }
    }
    .map {
        width: 100%;
    }
}