.payment {
  padding: 60px 150px;
    &_header {
        text-transform: none;
    }
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 225px);
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &_item {
        h3 {
            padding-top: 25px;
            font-size: 20px;
        }
    }
    &_img {
        display: inline-block;
        img {
            object-fit: contain;
            width: 70px;
            height: 70px;
            
        }
    }
}